.status {
  font-family: 'Source Sans Pro', sans-serif;
  /*text-align: right;*/
  color: white;
  position: absolute;
  background-color: #374856;
  right: 0px;
  padding: 6px;
  border-top: 1px solid #374856;
  border-left: 1px solid #666;
}

.status-ok {
  color: #90ee90;
}

.status-ko {
  color: red;
}

.view-wrapper {
  overflow-y: hidden;
  background-color: #374856;
  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.etabs-tabgroup {
	background-color: #aaa;
}

span.host {
	text-align: baseline;
}