// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.statwolf {

  &.dbg-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    &.row {
      flex-direction: row;
    }
    
    &.column {
      flex-direction: column;
    }
  }

  &.dbg-editor-wrapper {
    background-color: @base-background-color
  }

  &.dbg-item {
    overflow: scroll;

    &.bigger {
      flex: 4;
    }

    &.big {
      flex: 3;
    }

    &.small {
      flex: 2;
    }

    &.smaller {
      flex: 1;
    }
  } 

  &.icon {
    margin-left: 5px;
  }

  &.link {
    cursor: pointer; 
    user-select: none;
    list-style-type: none;

    &.selected {
      background-color: @background-color-selected;
      color: @text-color-selected
    }
  }

}
